<!DOCTYPE html>
<html>
  <head>
    <title>Soundmound</title>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <script src="https://use.fontawesome.com/92e15776b0.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
